{% extends 'base.html' %}
{% load static %}

{% block title %} Creer une nouvelle commande{% endblock title %}

{% block content %}
<br><br>
<div class="mx-auto card">
    <div class="card-header">
        FACTURATION
    </div>
    <div class="card-body">
        {% comment %} <form class="mx-auto" name="order" action="" method="post" style="width:100%">
            {% csrf_token %}
        
            <div class="row">
                <div class="col form-floating">
                    <input name="code" id="code" class="form-control" placeholder="Code" type="text"><br>
                    <label for="code">Code</label>
                </div>
                <div class="col form-floating">
                    <input placeholder="Designation" type="text" list="product_list" name="name" id="name" class="form-control"><br>
                    <label for="name">Designation</label>
                </div>
            </div>
            <div class="row">
                <div class="col form-floating">
                    <input placeholder="Quantité" type="number" name="qty" id="qty" class="form-control"><br>
                    <label for="qty">Quantité</label>
                </div>
                <div class="col form-floating">
                    <input placeholder="Prix Unitaire" type="number" name="pu" id="pu" class="form-control"><br>
                    <label for="pu" >Prix Unitaire</label>
                </div>
            </div>
        
            <div class="form-floating">
                <input placeholder="Reduction" type="number"  name="discount" id="discount" class="form-control"><br>
                <label for="discount">Reduction</label>
            </div>
        
            <datalist id="product_list">
                {% for product in product_list %}
                    <option value="{{ product.product_code }}"> {{ product.name }}</option>
                {% endfor %}
            </datalist>

            <input type="button" value="Ajouter article" name="add" class="btn btn-outline-success" onclick="addNewRow();" ><br>
            <br>
            <button type="submit" class="btn btn-primary">Valider la vente</button>
        </form> {% endcomment %}
        <br>
        <br>
        <div class="row">
            <div class="col 12">
                <form action="" method="post">
                    {% csrf_token %}
        
                    {% load formset_tags %}
                
                    <div id="formset" data-formset-prefix="{{ formset.prefix }}">
                        {{ formset.management_form }}
                
                        <div data-formset-body>
                            <!-- New forms will be inserted in here -->
                            {% for form in formset %}
                                {% include "sales\order_form.html" with form=form only %}
                            {% endfor %}
                        </div>
                
                        <!-- The empty form template. By wrapping this in a <script> tag, the
                        __prefix__ placeholder can easily be replaced in both attributes and
                        any scripts -->
                        <script type="form-template" data-formset-empty-form>
                            {% escapescript %}
                                {% include "sales\order_form.html" with form=formset.empty_form only %}
                            {% endescapescript %}
                        </script>
                
                        <!-- This button will add a new form when clicked -->
                        <input type="button" class="btn btn-outline-success" value="Add another" data-formset-add>
                
                        <script>
                            jQuery(function() {
                                $("#formset").formset({
                                    'animateForms': true,
                                    'reorderMode': 'animate'
                                }).on('formAdded', function() {
                                    console.log("Form added", this, arguments);
                                }).on('formDeleted', function() {
                                    console.log("Form deleted", this, arguments);
                                });
                            });
                        </script>
                
                    </div>
                
                    <button type="submit" class="btn btn-primary">Submit</button>
                
                    </form>
            </div>
        </div>
        <datalist id="product_list">
            {% for product in product_list %}
                <option value="{{ product.product_code }}">{{ product.name }}</option>
            {% endfor %}
        </datalist>
    </div>
</div>
{% endblock content %}

{% block script_file %}
    <script src="{% static "sales/js/script.js" %}" ></script>
{% endblock script_file %}

