{% extends 'base.html' %}
{% load static %}

{% block title %} Creer une nouvelle commande{% endblock title %}

{% block content %}
<br><br>
<div class="card">
    <div class="card-header pb-0">
        <h4 class="card-title mb-3"> 
            Facturation {{ invoice_code }}
        </h4>
        <hr>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col 12">
                <form id="form" action="" method="post">
                    
                    {% csrf_token %}

                    <div class="container">
                        <div class="row">
                            <div class="col-lg">
                                <label for="Code">Facture</label>
                                {{ invoice_form.invoice_code }}
                            </div>
                            <div class="col-lg">
                                <label for="Date">Date</label>
                                {{ invoice_form.date }}
                            </div>
                        </div>
                    </div>


                    <br><br>

                    {% load formset_tags %}
                
                    <div id="formset" data-formset-prefix="{{ formset.prefix }}">
                        {{ formset.management_form }}
                
                        <div data-formset-body>
                            <!-- New forms will be inserted in here -->
                            {% for form in formset %}
                                {% include "sales\order_form.html" with form=form only %}
                            {% endfor %}
                        </div>
                
                        <!-- The empty form template. By wrapping this in a <script> tag, the
                        __prefix__ placeholder can easily be replaced in both attributes and
                        any scripts -->
                        <script type="form-template" data-formset-empty-form>
                            {% escapescript %}
                                {% include "sales\order_form.html" with form=formset.empty_form only %}
                            {% endescapescript %}
                        </script>
                
                        <!-- This button will add a new form when clicked -->
                        <input type="button" id="ccc" class="btn btn-outline-success" value="Add another" data-formset-add>
                
                        <script>
                            jQuery(function() {
                                $("#formset").formset({
                                    'animateForms': true,
                                    'reorderMode': 'animate'
                                }).on('formAdded', function() {
                                    console.log("Form added", this, arguments);
                                }).on('formDeleted', function() {
                                    console.log("Form deleted", this, arguments);
                                });
                            });
                        </script>
                
                    </div>
                
                    <button type="submit" class="btn btn-primary">Submit</button>
                    <div class="columns">
                        <div class="column">
                            <h3 class="title is-4">Total($): <span id="total"></span></h3>
                        </div>
                    </div>
                    </form>
            </div>
        </div>
        <datalist id="product_list">
            {% for product in product_list %}
                <option value="{{ product.product_code }}">{{ product.name }}</option>
            {% endfor %}
        </datalist>
    </div>
</div>


{% endblock content %}

{% block javasrcipts %}

<script type="module" src="{% static "js/InputSpinner.js" %}"></script>
<script>
    $("input[type='number']").inputSpinner()
</script>

<script type="text/javascript">
    {% comment %} !!! code a revoir ABSOLUMENT !!! {% endcomment %}
    $('table input').on("input", function (index) {
        var total = []
        var $tr = $(this).closest('tr');
        var textValue1 = $("input.prix_unitaire", $tr).val();
        var textValue2 = $('input.quantity', $tr).val();
        var textValue3 = $('input.discount', $tr).val();
        amt = (textValue1 * textValue2) - textValue3;
        // console.log(amt);
        $('input.total_price', $tr).val(amt);
        calc_total();
    });

    $(document).ready(function () {
        $("#ccc").click(function (){
            $('table input').on("input", function (index) {
                var total = []
                var $tr = $(this).closest('tr');
                var textValue1 = $("input.prix_unitaire", $tr).val();
                var textValue2 = $('input.quantity', $tr).val();
                var textValue3 = $('input.discount', $tr).val();
                amt = (textValue1 * textValue2) - textValue3;
                // console.log(amt);
                $('input.total_price', $tr).val(amt);
                calc_total();
            });
        });
    });

    $("#delete").click( function(){
        var $tr = $(this).closest('tr');
        amt = 0
        $("input.prix_unitaire", $tr).val(amt);
        $('input.quantity', $tr).val(amt);
        $('input.total_price', $tr).val(amt)
        $('input.discount', $tr).val(amt)
        calc_total()
    });

    function substract(){
        var $tr = $(this).closest('tr');
        amt = 0
        $('input.total_price', $tr).val(amt)
        calc_total()
    }

    function calc_total() {
        var sum = 0;
        
        $("input.total_price").each(function () {
            sum += parseFloat($(this).val());
        });
        //console.log(sum);
        $('#total').text(sum);
    }

    $('#form').submit(function(){
        $("#form :disabled").removeAttr('disabled');
    });

</script>
    <script src="{% static "sales/js/script.js" %}" ></script>
{% endblock javasrcipts %}

