{% extends 'base.html' %}
{% load static %}

{% block title %} Creer une nouvelle commande{% endblock title %}

{% block content %}
<br><br>
<div class="card">
    <div class="card-header pb-0">
        <h4 class="card-title mb-3"> 
            Facturation {{ invoice_code }}
        </h4>
        <hr>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col 12">
                <form action="" method="post">
                    
                    {% csrf_token %}

                    <div class="container">
                        <div class="row">
                            <div class="col-lg">
                                <label for="qty">Quantité</label>
                                <input placeholder="Quantité" type="number" name="qty" id="qty" class="form-control">
                            </div>
                            <div class="col-lg">
                                <label for="pu" >Prix Unitaire</label>
                                <input placeholder="Prix Unitaire" type="number" name="pu" id="pu" class="form-control">
                            </div>
                            <div class="col-lg">
                                <label for="Date">Date</label>
                                {{ invoice_form.date }}
                            </div>
                        </div>
                    </div>


                    <br><br>

                    {% load formset_tags %}
                
                    <div id="formset" data-formset-prefix="{{ formset.prefix }}">
                        {{ formset.management_form }}
                
                        <div data-formset-body>
                            <!-- New forms will be inserted in here -->
                            {% for form in formset %}
                                {% include "sales\order_form.html" with form=form only %}
                            {% endfor %}
                        </div>
                
                        <!-- The empty form template. By wrapping this in a <script> tag, the
                        __prefix__ placeholder can easily be replaced in both attributes and
                        any scripts -->
                        <script type="form-template" data-formset-empty-form>
                            {% escapescript %}
                                {% include "sales\order_form.html" with form=formset.empty_form only %}
                            {% endescapescript %}
                        </script>
                
                        <!-- This button will add a new form when clicked -->
                        <input type="button" class="btn btn-outline-success" value="Add another" data-formset-add>
                
                        <script>
                            jQuery(function() {
                                $("#formset").formset({
                                    'animateForms': true,
                                    'reorderMode': 'animate'
                                }).on('formAdded', function() {
                                    console.log("Form added", this, arguments);
                                }).on('formDeleted', function() {
                                    console.log("Form deleted", this, arguments);
                                });
                            });
                        </script>
                
                    </div>
                
                    <button type="submit" class="btn btn-primary">Submit</button>
                
                    </form>
            </div>
        </div>
        <datalist id="product_list">
            {% for product in product_list %}
                <option value="{{ product.product_code }}">{{ product.name }}</option>
            {% endfor %}
        </datalist>
    </div>
</div>
{% endblock content %}

{% block script_file %}
    <script src="{% static "sales/js/script.js" %}" ></script>
{% endblock script_file %}

