asgiref==3.8.1
Django==5.0.7
django-formset-js-improved==0.5.0.3
django-jquery-js==3.1.1
django-extensions==3.2.3
pdfkit==1.0.0
pillow==10.4.0
psycopg2==2.9.9
pypdf==4.3.1
setuptools==72.1.0
sqlparse==0.5.1
tzdata==2024.1
whitenoise==6.7.0
