html,
body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: rgb(201, 201, 201);
}

.form-signin {
  width: 200%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-control{
  margin-bottom: 10px;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}


/*


body {
    font-family: sans-serif;
    background-color: rgb(201, 201, 201);
    height : 100vh;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
  }
  
  #container {
    background-color: #fff;
    width: 95%;
    height: 530px;
    border: 0 transparent;
    box-shadow: 5px 50px 50px gray;
    display: grid;
    grid-template-columns: 40% 60%;
  }
  #container h3, #container h1 {
    width: 80%;
    margin-left: 70px;
  }
  #container h3 {
    margin: 35px 0 10px 70px;
    font-size: 15px;
    font-weight: normal;
  }
  #container h1 {
    margin: 0 0 20px 70px;
  }
  #container .background {
    background: rgb(4, 4, 46);
  }
  
  #form {
    justify-content: center;
    width: 80%;
    margin: auto;
  }
  #form, #label, #input {
    display: flex;
  }
  #label, #input {
    flex-direction: column;
    justify-content: center;
  }
  #input input, #label label, #input select {
    font-size: 15px;
  }
  #input {
    padding: 0 0 0 20px;
  }
  #label label {
    margin: 14px 0;
  }
  #input input, #input select{
    border: 0 transparent;
    margin: 7px;
    border-bottom: 2px solid gray;
    padding: 5px 3px;
    background: transparent;
  }
  #input input:focus, #input select:focus {
    border-bottom: 2px solid red!important;
    outline: none;
  }
  .inputSafe {
    border-bottom: 2px solid green!important;
  }
  #input input:focus {
    border: 0 transparent;
  }
  button[type="submit"] {
    border: none;
    border-radius: 2px;
    background: rgb(255, 0, 0);
    cursor: pointer;
    float: right;
    margin: 10px 85px;
    width: 60px;
    height: 35px;
  }
  
  .footer {
    display: flex;
    justify-content:space-between;
    align-items: flex-end;
    height: 100%;
    font-size: 15px;
  }
  
  
  .footer p:first-of-type {
    color: #fff;
    padding: 10px 40px;
  }
  
  p.footer-item {
    border: 0 transparent;
    background-color: #fff;
    padding: 20px 40px;
    margin: 0;
  }
  
  p.footer-item span {
    color: gray;
    padding-left: 20px;
  }
  
  p.footer-item a {
    text-decoration: none;
    color: rgb(51, 137, 236);
  }
  
  #footer {
    width: 80%;
    display: grid;
    grid-template-columns: 30% 30% 1fr;
    padding: 60px 0;
    line-height: 1.8;
  }
  
  .color-g {
    color: grey;
  }
  
  .item:nth-child(1) {
    padding-left: 20px;
  }
  
  .last {
    display:flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 60px;
  }


*/


