{% extends 'base.html' %}

{% block title %}Modifier un nouveau produit{% endblock title %}

{% block content %}
<br><br>
<div class="mx-auto card" style="width:60%">
    <div class="card-header">
        Modifier l'article
    </div>
    <div class="card-body">
        <form class="mx-auto" action="{% url 'upr' product.id %}" method="POST" style="width:95%">
            {% csrf_token %}
            <div class="row">
                <div class="col form-floating">
                    <input id="floatingInput" class="form-control" type="text" name="product_code" value="{{ product.product_code }}" id=""><br><br>
                    <label for="floatingInput">Code Produit</label>
                </div>
                <div class="col form-floating">
                    <input id="floatingInput" class="form-control" type="text" name="name" value="{{ product.name }}" id=""><br><br>    
                    <label for="floatingInput">Designation</label>
                </div>
            </div>
            
            <div class="form-floating">
                <input id="floatingInput" class="form-control" type="number" name="price_achat" value="{{ product.price_achat }}" id=""><br><br>    
                <label for="floatingInput">Prix d achat</label>
            </div>
            <div class="form-floating">
                <input id="floatingInput" class="form-control" type="number" name="price_revient" value="{{ product.price_revient }}" id=""><br><br>
                <label for="floatingInput">Prix de revient</label>
            </div>
            <div class="form-floating">
                <input id="floatingInput" class="form-control" type="number" name="marge" value="{{ product.marge }}" id=""><br><br>    
                <label for="floatingInput">Marge</label>
            </div>
            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
            <br>
            <button type="submit" class="btn btn-primary">Valider</button>
        </form>
    </div>
</div>
{% endblock content %}

